.git
.venv
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.dvc/
EDA/
notebooks/
governance/
documents/
logs/
mlruns/
mlflow/
plugins/
tests/
dags/
*.ipynb
src/data/raw/
src/data/processed/
src/data/features/
uv.lock
models/test_split.pkl
models/evaluation.json
models/optimization.json
